{% extends 'base.html.twig' %}


{% block body%}
<h1>{{ component }}</h1>

<h3>Examples</h3>
  {% for type in ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark', 'link']  %}
  {{ component('button', { 
        'type': type,
        'content': type|capitalize,
        'text': type in ['warning', 'info', 'light'] ? 'dark' : type == 'link' ? '' : 'light'
      }) 
  }}
  {% endfor  %}

<h3>Button tags</h3>
  {% for tag in ['link', 'button', 'input', 'submit', 'reset']  %}
  {{ component('button', { 
        'tag': tag,
        'content': tag|capitalize
      }) 
  }}
  {% endfor  %}

<h3>Outline buttons</h3>
  {% for type in ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark', 'link']  %}
  {{ component('button', { 
        'type': type,
        'content': type|capitalize,
        'text': '',
        'outline': true,

      }) 
  }}
  {% endfor  %}

<h3>Sizes</h3>
  {% for size in ['lg', 'sm']  %}
    {% for type in ['primary', 'secondary', 'success']  %}
    {{ component('button', { 
            'type': type,
            'content': type|capitalize,
            'size': size
          }) 
    }}
    {% endfor  %}
  {% endfor  %}

<h3>Disabled</h3>
{% for tag in ['button', 'link']  %}
  {% for type in ['primary', 'secondary']  %}
    {{ component('button', { 
            'tag': tag,
            'type': type,
            'content': type|capitalize,
            'size': 'lg',
            'disabled': true
          }) 
    }}
  {% endfor  %}
{% endfor  %}

{% endblock %}
