{% extends 'base.html.twig' %}

{% block body%}
<h1>{{ component }}</h1>


{{ form_start(form) }}
{{ form_row(form.type) }}
{{ form_row(form.title) }}
{{ form_row(form.message) }}
{{ form_row(form.Submit) }}
{{ form_end(form, {render_rest: false}) }}

{{ component('toast', {
        'type':  field_value(form.type) ,
        'title': field_value(form.title),
        'message': field_value(form.message)|markdown_to_html 
    }) 
}}
{% endblock %}
