<!DOCTYPE html>
<html dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        {# <link href="{{ asset('styles/app.css') }}" rel="stylesheet"/> #}
             {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="layout-{{ tabler.layout }} theme-{{ tabler.theme }}">
    <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                {{ component('sidebar') }}
            </div>
        </div>
   
        <div class="col py-3">
        {% block body %}{% endblock %}
        </div>
    </div>
</div>

     {# <script src="{{ asset('js/tabler.js') }}"></script> #}
    </body>
</html>
