<!DOCTYPE html>
<html dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <link href="{{ asset('styles/app.css') }}" rel="stylesheet"/>
            {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </head>
    <body class="layout-{{ tabler.layout }} theme-{{ tabler.theme }}">
        {% block body %}{% endblock %}
     <script src="{{ asset('js/tabler.js') }}"></script>
    </body>
</html>
