<div 
  id="{{ options['id'] }}" 
  class="{{ options['class'] }} {{ options['flush']|default(false) ? 'accordion-flush' : '' }} " 
  data-controller="accordion"
>
{% for item in items %}
  <div class="{{ options['class-item'] }}">
    <h2 
      class="{{ options['class-header'] }}" 
      id="{{ options['class-header'] }}-{{ loop.index }}"
    >
      <button 
        class="{{ options['class-button'] }}" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#collapse-{{ loop.index }}" 
        aria-expanded="true"
        aria-controls="collapse-{{ loop.index }}"
      >
        {{ item.label }}
      </button>
    </h2>
    <div 
      id="collapse-{{ loop.index }}" 
      class="accordion-collapse collapse {{ (item.show or item.alwaysOpen) ? 'show' : '' }}" 
      aria-labelledby="{{ options['class-header'] }}-{{ loop.index }}" 
      {% if item.alwaysOpen %} data-bs-parent="#{{ options['id'] }}" {% endif %}
    >
      <div class="{{ options['class-body'] }}">
        {{ item.content | raw }}
        
      </div>
    </div>
  </div>
{% endfor %}
</div>