<div 
    id="{{ id }}"
    class="alert alert-{{ type }} {{ dismiss ? 'alert-dismissible fade show' : '' }}"
    role="alert"
    data-controller="alert"
    data-alert-dismiss-value="{{ dismiss ? "true" : "false" }}"
>
{% if raw %}{{ content | raw }}{% else %}{{ content }}{% endif %}
{% if dismiss %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
{% endif %}
</div>