<nav  aria-label="breadcrumb">
<{{ options.containerTag }} id="{{ options.id }}" class="{{ options.class }}">
{% for item in items %}
<{{ options.innerTag }} class="{{ item.class }} {{ item.active ? 'active' : '' }}">
    {% if loop.first %}
        <a href="{{ item.url }}">
            {% if item.raw %}{{ item.content | raw }}{% else %}{{ item.content }}{% endif %}
        </a>
    {% elseif loop.last %}
        {% if item.raw %}{{ item.content | raw }}{% else %}{{ item.content }}{% endif %}
    {% else %}
        <a href="{{ item.url }}">
            {% if item.raw %}{{ item.content | raw }}{% else %}{{ item.content }}{% endif %}
        </a>
    {% endif %}
</{{ options.innerTag }}>
{% endfor %}
</{{ options.containerTag }}>
</nav>